.row {
    width: 50%;
    background-color: red;
    height: 150px;
    margin: auto;
    display: flex;
}


h1, h2, h4 {
    text-align: center;
}

.row-1, .row-2 {
    border-bottom: 5px solid black;

}
.col-1, .col-2 {

border-right: 5px solid black;
}

.box {
    width: 34%;
    text-align: center;
    font-size: 2rem;
    padding-top: 30px;
}