
body{

    margin: 0 auto;
    
    text-align: center;
    background-color: gray;

 }

.wrapup {

     display: flex;
     height: 500px;
 }


 .popup {

    background-color: rgba(20, 1, 7, 0.5);
    max-width: 100vw;
    max-height: 300px;
    margin: 0 auto;
    color: white;
    position: absolute;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center ;
    display: none; 
}


.popup.show {

    display: flex;


}


.winenrX{

    width: 200px;
    height: 200px;
    margin: 20px;
    align-items: center;
    text-align: center;
}


.popup1 {
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 100vw;
    max-height: 300px;
    margin: 0 auto;
    color: white;
    position: absolute;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center ;
    display: none; 
}


.popup1.show {

    display: flex;

}


.winnerO{

    width: 200px;
    height: 200px;
    margin: 20px;
    align-items: center;
    text-align: center;
}

h3 {
    font-family: bold;
    font-size: 50px;
    color: rgb(0, 128, 53);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}



.row {

    width: 50%;
    background-color:#4caf4f;
    height: 150px;
    margin: auto;
    display: flex;
    border-color:2px solid black;
    
    
}

.box:hover {

    background-color: grey;


}


.board {
    width: 60px;
    height: 60px;
    background: rgb(35, 15, 218);
    animation: mymove 3s infinite;
    padding-top: 40px;
  }
  
  @keyframes mymove {
    50% {background: rgb(255, 94, 0) bottom right/50px 50px;}

    
  }


.board {

    font-family: 'Abril Fatface';
    height: 100%;
    width: 100%;
    padding-right: 20px;
    

}

#up {

    margin-top: 10px;
    padding: 20px;
    font-weight: bold;
    background-color: rgb(0, 128, 53);
    margin-top: 40px;

}


img{

    display: block;
    height:115px;
    background-color: blue;

}


.box {
    font-family: 'Modak', cursive;
    width: 34%;
    text-align: center;
    font-size: 5rem;
    padding-top: 10px;
    border: 3px solid black;
    background-color: green;
   
   
}    